*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sansita Regular';
    src: local("Sansita Regular"),
    url("Fontes/Sansita/Sansita-Regular.ttf"),
    url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
}

@font-face {
    font-family: 'Itim Regular';
    src: format("Itim Regular"),
    url("Fontes/Itim/Itim-Regular.ttf"),
    url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
}

@font-face {
    font-family: 'Sansita Bold';
    src: local("Sansita Bold"),
    url("Fontes/Sansita/Sansita-Bold.ttf"),
    url('https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap');
}

@font-face {
    font-family: 'Sansita Italic';
    src: format("Sansita Italic"),
    url("Fontes/Sansita/Sansita-Italic.ttf"),
    url('https://fonts.googleapis.com/css2?family=Sansita:ital@1&display=swap');
}

/* menu */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3B195C;
    border-bottom: 5px solid #44B7D2;
}

.logo-alt{
    display: none;
}

.menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.menu li{
    margin:15px;
    padding: 15px;
    background-color: #EC1394;
    border-radius: 10px;
    font-family: 'Sansita Regular', sans-serif;
}
.menu li:hover{
    background-color: #44B7D2;
}

.menu a{
    color: white;
    text-decoration: none;
}
/* menu */

main{
padding: 10px;
background-image: url("imagens/paginainicial-background.png");
background-repeat: no-repeat;
}
main p{
    width: 400px;
    text-align: justify;
    font-family: 'Itim Regular', cursive;
    font-size: 25px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*rodape*/

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #3B195C;
    border-top: 5px solid #44B7D2;
}

.redes-sociais{
    display: flex;
    list-style: none;

}

.redes-sociais li{
    margin: 15px;
}

/* rodape */