*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sansita Regular';
    src: local("Sansita Regular"),
    url("../../Fontes/Sansita/Sansita-Regular.ttf"),
    url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
}

@font-face {
    font-family: 'Itim Regular';
    src: format("Itim Regular"),
    url("../../Fontes/Itim/Itim-Regular.ttf"),
    url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
}

@font-face {
    font-family: 'Sansita Bold';
    src: local("Sansita Bold"),
    url("../../Fontes/Sansita/Sansita-Bold.ttf"),
    url('https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap');
}

@font-face {
    font-family: 'Sansita Italic';
    src: format("Sansita Italic"),
    url("../../Fontes/Sansita/Sansita-Italic.ttf"),
    url('https://fonts.googleapis.com/css2?family=Sansita:ital@1&display=swap');
}

/* menu */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3B195C;
    border-bottom: 5px solid #44B7D2;
}

.logo-alt{
    display: none;
}

.menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.menu li{
    margin:15px;
    padding: 15px;
    background-color: #EC1394;
    border-radius: 10px;
    font-family: 'Sansita Regular', sans-serif;
}
.menu li:hover{
    background-color: #44B7D2;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu .atual{
    background-color: #44B7D2;
}
/* menu */

.conteudo{
    padding:10px;
    background-image: url("../../imagens/contato-background.png");
    background-repeat: no-repeat;
}

.titulo{
    font-family: 'Sansita Regular', sans-serif;
    color:#EC1394;
    font-size: 45px;
}

.campo-formulario{
    padding: 15px;
}

.nome-campo{
    padding-left: 16px;
    font-family: 'Sansita Regular', sans-serif;
    padding-bottom: 2.5px;
    font-size: 20px;

}
.obrigatorio{
    color:red;
}
.campo-formulario input, .campo-formulario select, .campo-formulario textarea{
    width: 450px;
    height: 30px;
    border-radius: 50px;
    border: solid #3B195C 2.5px;
    padding: 15px;
}
.campo-formulario textarea{
    height: 180px;
    border-radius: 10px;
}

button{
    border: 0;
    background-color: #EC1394;
    color:white;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    font-family: 'Sansita Regular', sans-serif;
    font-size: 18px;
}

button:hover{
    background-color: #44B7D2;
}

/*rodape*/

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #3B195C;
    border-top: 5px solid #44B7D2;
}

.redes-sociais{
    display: flex;
    list-style: none;

}

.redes-sociais li{
    margin: 15px;
}

/* rodape */